$Col_base : #ccd5ae;
$Col_2nd: #e9edc9;
$Col_3rd: #fefae0;
$Col_4th: #faedcd;
$Col_5th: #d4a373;

#root {
  max-width: 1280px;
  margin: 0 auto;
 
  text-align: center;
  background-color: $Col_2nd;
}



